* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: cornflowerblue;
  font-family: sans-serif;
  height: 100vh;
}

.content {
  height: 100vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
  font-size: 17px;
  font-weight: 600;
  height: 10vh;
}
nav span {
  color: gray;
}
nav span:first-of-type {
  color: white;
}

main {
  height: 90vh;
  position: relative;
  width: 100%;
}

.currentWeather {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "temp info" "date date" "time time";
  -ms-grid-columns: 55% 45%;
  grid-template-columns: 55% 45%;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  height: 55vh;
  max-width: 340px;
  width: 100%;
  color: white;
}
.currentWeather_temp {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: temp;
  font-size: 100px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.currentWeather_temp span {
  width: 100%;
}
.currentWeather_info {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  font-size: 18px;
}
.currentWeather_info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}
.currentWeather_info img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.currentWeather_date {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: date;
  text-align: center;
  padding-top: 20px;
}
.currentWeather_time {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: time;
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
}

.slide {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 35vh;
  z-index: 1;
  background-color: white;
  padding: 0 10px;
}
.slide .forecast {
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide .forecast_switch {
  height: 35%;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide .forecast_switch > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  width: 100px;
  border: 1px solid black;
  font-size: 1.1rem;
  text-align: center;
}
.slide .forecast_switch > div:first-of-type {
  border-radius: 20px 0 0 20px;
  border-right: none;
}
.slide .forecast_switch > div:last-of-type {
  border-radius: 0 20px 20px 0;
  border-left: none;
}
.slide .forecast_switch .active {
  color: white;
  background-color: black;
}
.slide .forecast_block {
  height: 65%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow-x: scroll;
  white-space: nowrap;
}
.slide .forecast_elem {
  padding: 10px 0;
  min-width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  color: #181717;
}
.slide .forecast_elem img {
  height: 50%;
}