:root {
  --swiper-theme-color: #202020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper {
  height: 165vh;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 102vh;
}

body {
  font-family: sans-serif;
}

.main_content {
  height: 100vh;
  background-color: cornflowerblue;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  font-size: 17px;
  font-weight: 600;
  height: 10vh;
}
nav span {
  color: gray;
}
nav span:first-of-type {
  color: white;
}

main {
  height: 90vh;
  position: relative;
  width: 100%;
}

.currentWeather {
  height: 55vh;
  max-width: 340px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.currentWeather_temp {
  display: flex;
  font-size: 100px;
  justify-content: right;
  align-items: center;
}
.currentWeather_temp span {
  width: 100%;
}
.currentWeather_description {
  font-size: 30px;
}
.currentWeather_date {
  text-align: center;
  padding-top: 20px;
}
.currentWeather_time {
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
}

.active_Forecast {
  background-color: #202020;
}
.active_Forecast span {
  color: white;
}
.active_Forecast img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(249deg) brightness(112%) contrast(101%);
}

.slide {
  position: absolute;
  width: 100%;
  bottom: -65vh;
  height: 100vh;
  z-index: 1;
  background-color: white;
  padding: 0 10px;
}
.slide .forecast {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide .forecast_switch {
  height: 35%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide .forecast_switch > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100px;
  border: 1px solid #282218;
  font-size: 1.1rem;
  text-align: center;
}
.slide .forecast_switch > div:first-of-type {
  border-radius: 20px 0 0 20px;
  border-right: none;
}
.slide .forecast_switch > div:last-of-type {
  border-radius: 0 20px 20px 0;
  border-left: none;
}
.slide .forecast_switch .active {
  color: white;
  background-color: #332c21;
}
.slide .forecast_block {
  height: 65%;
  width: 100%;
}
.slide .forecast_elem {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  color: #181717;
}
.slide .forecast_elem img {
  height: 50%;
}

.fullDescription {
  height: 60vh;
  width: 100%;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 1px;
}
.fullDescription > div {
  border: thin solid #202020;
  display: grid;
  grid-template-areas: "img value" "desc desc";
  align-items: center;
  grid-template-columns: 40% 60%;
}
.fullDescription > div .description_img {
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullDescription > div .description_img img {
  width: 50%;
}
.fullDescription > div .value {
  grid-area: value;
  font-size: 20px;
}
.fullDescription > div span {
  font-size: 14px;
  grid-area: desc;
  color: gray;
  text-align: center;
}